body{
    margin: 10px;
}
h1,h2,h3{
    text-transform: uppercase;
    text-align: center;
}
.contenedor{
    text-align: center;
}
button {
  background-color: transparent;
  border: none;
  color: #000;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
}

.contenedor table tr td{
  border-right: 2px solid #93d092;
  border-bottom: 2px solid #93d092;
}